body {
  background: #648880;
  background: linear-gradient(to right, #8bc34a, #4caf50 85%, #388e3c);
  height: 100%;  
}

.game {
  padding: 40px 0;
}

.nav-view {
  padding-left: 10px;
  padding-bottom: 10px;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-size: 100%
}

div .covered {
  background-image: url("../img/card-back.png")!important;
}

.history-stream {;
  overflow: scroll;
  position: absolute;
}

.hand {
  overflow: auto;
}

.hist-entry {
  margin-bottom: 10px;
}

.hist-entry .card{

  margin-right: 10px;
  width: 50px;
  height: 70px;

}